.svn/
*.tlog
lib/suitesparse-metis-for-windows-master/metis-5.1.0.tar
I-IBM.sln.old12
I-IBM.opensdf
I-IBM.sdf
I-IBM.sdf.r0
I-IBM.sdf.r6
bin/x64/Debug/vc120.idb
*.xml
*.jpg
I-IBM/DeformationWidget_JIY_12-23-100724-2014_Conflict.cpp
I-IBM/DeformationWidget_JIY_12-23-100724-2014_Conflict.h
desktop.ini
models/Default.ply
*.ply
*.txt
*.zip
models/cushion_2_3/a/kv2_1.vmap
models/xyznsdf.vol

# Linux build outputs
bin/
I-IBM/build/
I-IBM/Makefile.linux
I-IBM/.qmake.stash
3rdparty/OpenMesh-3.1/build/
3rdparty/OpenMesh-3.1/lib/
*.o
*.a
